@page
@model KoiPondOrderSystemManagement.RazorWebApp.Pages.Designs.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Design</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Design.DesignName" class="control-label"></label>
                <input asp-for="Design.DesignName" class="form-control" />
                <span asp-validation-for="Design.DesignName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.DesignStyle" class="control-label"></label>
                <input asp-for="Design.DesignStyle" class="form-control" />
                <span asp-validation-for="Design.DesignStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.EstimatedCost" class="control-label"></label>
                <input asp-for="Design.EstimatedCost" class="form-control" />
                <span asp-validation-for="Design.EstimatedCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.Description" class="control-label"></label>
                <input asp-for="Design.Description" class="form-control" />
                <span asp-validation-for="Design.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.ImagePath" class="control-label"></label>
                <input asp-for="Design.ImagePath" class="form-control" />
                <span asp-validation-for="Design.ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.PopularityScore" class="control-label"></label>
                <input asp-for="Design.PopularityScore" class="form-control" />
                <span asp-validation-for="Design.PopularityScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.RecommendedUse" class="control-label"></label>
                <input asp-for="Design.RecommendedUse" class="form-control" />
                <span asp-validation-for="Design.RecommendedUse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Design.PromotionId" class="control-label"></label>
                <select asp-for="Design.PromotionId" class ="form-control" asp-items="ViewBag.PromotionId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Design.ApprovalStatus" /> @Html.DisplayNameFor(model => model.Design.ApprovalStatus)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
